<h1>Dishes</h1>
<h2>List of Dishes</h2>

<% @dishes.each do |dish| %>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path dish.photo.key, height: 300, width: 400, crop: :fill %>')">
    <h2><%= link_to dish.name, dish_path(dish)  %></h2>
  </div>
<% end %>


<%= link_to new_dish_path, class: "btn btn-primary" do  %>
  Add A New Menu Item
<% end %>
